<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens Node.Js</title>
</head>
<body>
    <div id="#tudo">
        <div id="tudo">
        <nav class="top">
            <img src="/img/iLion - Logo.png" width="75px" height="30px">
            
            <div class="op">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/cad">Postar</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contatos</a></li>
                    <li><a href="/set_apelido">Chat</a></li>
                </ul>
            </div>
       </nav>

        <div class="menu" id="menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

    <br><br>

    {{{body}}}

    <nav class="lat">
        <ul><br><br>
            <li><a href="/">Home</a></li>
            <li><a href="/cad">Postar</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contatos</a></li>
            <li><a href="/set_apelido">Chat</a></li>
        </ul>
    </nav>
    </div>

    <div class="escurecer"></div>
</body>

    <script src="/js/script.js"></script>
</html>