<style>
    .apl {

    }
</style>

<div class="apl">
    <form method="post">
        <input type="text" autocomplete="off" placeholder="Digite seu apelido" required name="apelido">
        <input type="submit">
    </form>
</div>