<div id="cadastrarDiv">
    <form action="/add" method="post" id="cadastrarForm">
        <p>Título: </p>
            <input type="text" name="titulo">
        <p>Conteúdo: </p>
            <textarea name="conteudo" style="resize: none; height: 80%; width: 80%"></textarea><br>

        <input type="submit" value="Cadastrar Postagem"><br>
    </form>
</div>