<div id="cadastrarDiv">
    <form method="POST" id="cadastrarForm" style="height: 40%;">
        <label style="font-size: 25px;">Entrar no chat</label>
        <small style="font-size: 1.3vw;">(somente letras minúsculas, sem caracteres especiais)</small><br>
        <br><input type="text" name="apelido" placeholder="Digite seu apelido"><br>
        <input style="width:70%;" type="submit" value="Entrar">
    </form>
</div>