<div id="cadastrarDiv">
    <form method="POST" id="cadastrarForm" style="height: 40%;">
        <label style="font-size: 23px;">Entrar no chat</label><br>
        <br><input type="text" name="apelido" placeholder="Digite seu apelido"><br>
        <input style="width:70%;" type="submit" value="Entrar">
    </form>
</div>